<div class="main-content">
    <div class="row">
    <div class="placeholder" (click)="isExpanded = !isExpanded">
    <label >
        {{noteObj.title}}
    </label>
    <label >
        {{noteObj.body}}
    </label>

</div>
<form  name="form" [formGroup]="myForm">
<div class="btn">
    <button mat-button >
        <span class="material-icons-outlined  button" *ngIf="isExpanded">add_alert</span>
    </button>
    <button mat-button >
        <span class="material-icons-outlined button" *ngIf="isExpanded">person_add</span>
    </button>
    <button mat-button >
        <span class="material-icons-outlined button" *ngIf="isExpanded">palette</span>
    </button>
    <button mat-button >
        <span class="material-icons-outlined button" *ngIf="isExpanded">image</span>
    </button>
    <button mat-button >
        <span class="material-icons-outlined button" *ngIf="isExpanded">archive</span>
    </button>
    
    <button mat-button >
        <span class="material-icons-outlined button" *ngIf="isExpanded">redo</span>
    </button>
    <button mat-button >
        <span class=" close button" *ngIf="isExpanded">close</span>
    </button>
</div>
</form>
</div>
</div>