@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
mat-toolbar {
  background: white;
  color: black;
  border-radius: 5px;
  height: 70px;
  border:3px solid lightgray;
}
mat-sidenav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0px;
  width: 150px;
  background: white;
  color: #202124 ;
  border-radius: 10px;
  padding: 16px;
}
.menu-button{
   display: flex;
  flex-direction: column;

}
.menuicons{
  margin-left: 5px;
}
.keep{
  color:black ;
  margin-left: 10px;
  margin-top: -3px;
}
img{
  margin-left: 30px;
}

.refreshicons{
  margin-left: 50px;
  margin-top: 5px;
}
.dnsicons,.settingsicons{
  margin-left: 15px;
  margin-top: 5px;
}
.accounticons{
  margin-left: 20px;
}
.appsicon{
  margin-left: 50px;
}
.searchicons{
  margin-left: -40px;
  padding-top: 10px;
}
.content {
  height: calc(100vh);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  
  font-size: 2rem;
  color:white;
}
mat-sidenav-container {
  height: calc(100vh );
}
.input{
  background-color: white;
  color:white;
  padding-left: 10px;
  border-top: none;
  border-color:  white;
  width: 600px;
  height: 5px;
  border-radius: 0px;
  margin-top: -10px;

}
.imp{
  background-color: white;
  color:white;
  margin-top: 10px;
  padding-left: 10px;
  border-top: none;
  border-color:  white;
  width: 600px;
  height: 5px;
  border-radius: 0px;
  margin-top: -10px;

}
.place{
  display: flex;
  flex-direction: row;
  border:2px solid white;
  color: black;
  background-color: #F0F0F0;
  margin-left: 100px;
  padding-left: 50px;
  width: 600px;
  height: 40px;
  border-radius: 10px;
  font-size: 1rem;
  border-color: lightgray;
}
.iconColor{
  color: #888888;
 
}
.iconColor:hover{
border: 2px solid #F0F0F0;
border-radius: 100px;
border-color: black;
background-color: #D0D0D0;
}
.matbutton{
  line-height: 50px;
}
.matbutton:hover{
  background-color: #fcffa4;
  border-radius: 20px 
}
.search{
  color: white;
  background-color: white;
}
.notes1{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.side{
  display: flex;
  flex-direction: column;
  margin-left: -80px;
  
}
mat-button{
display: flex;
flex-direction: column;
padding-left: 10px;
}
.mainbar{
  margin-top: -450px;
}
.main{
  margin-top: 20px;
  margin-left: -120px;
}
.searchbar{
  width:500px ;
  height: 50px;
  border: 2px solid #DCDCDC;
  border-radius: 10px;
  padding-left: 20px;
  
}
.btn{
  color: #606060;
  padding-left: 10px;
}
.material-icons-outlined{
  padding-left: 2px;
}
  .main-content{
    border: 2px solid #DCDCDC;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;
    height: 150px;
    border-radius: 10px;
    }
   
    .matbtn{
      display: flex;
      align-items: flex-end;
      padding-top: 40px;
      flex-direction: row;
      color: #606060;
    }
    .matinput{
      width: 150x;
      height: 30px;
      margin-left: 10px;
      appearance: standard;
      border:none ;
    }
    input{
      width: 300px;
    }
.forloop{
     display: flex;
     flex-direction: row;
}
