@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
mat-toolbar {
  background: white;
  color: black;
  border-radius: 5px;
  height: 70px;
  border:3px solid lightgray;
}
mat-sidenav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px;
  width: 200px;
  background: white;
  color: #202124 ;
  border-radius: 10px;
  padding: 16px;
}
.menu-button{
   display: flex;
  flex-direction: column;
  

}
.menuicons{
  margin-left: 5px;
}
.keep{
  color:black ;
  margin-left: 100px;
  margin-top: -3px;
}

.refreshicons{
  margin-left: 50px;
  margin-top: 5px;
}
.dnsicons,.settingsicons{
  margin-left: 15px;
  margin-top: 5px;
}
.accounticons{
  margin-left: 20px;
}
.appsicon{
  margin-left: 50px;
}
.searchicons{
  margin-left: -40px;
  padding-top: 10px;
}
.content {
  height: calc(100vh);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color:white;
}
mat-sidenav-container {
  height: calc(100vh );
}
.input{
  background-color: white;
  color:white;
  padding-left: 10px;
  border-top: none;
  border-color:  white;
  width: 600px;
  height: 5px;
  border-radius: 0px;
  margin-top: -10px;

}
.imp{
  background-color: white;
  color:white;
  margin-top: 10px;
  padding-left: 10px;
  border-top: none;
  border-color:  white;
  width: 600px;
  height: 5px;
  border-radius: 0px;
  margin-top: -10px;

}
.place{
  display: flex;
  flex-direction: row;
  border:3px solid white;
  color: black;
  background-color: #F0F0F0;
  margin-left: 100px;
  padding-left: 50px;
  width: 600px;
  height: 40px;
  border-radius: 10px;
  font-size: 1rem;
  border-color: lightgray;
}
.search{
  color: white;
  background-color: white;
}
.notes1{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}