<p>dash-board works!</p>
<link rel="stylesheet" href="../dash-board/dash-board.component.scss">

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">Notes</a>
    <a href="#">Reminder</a>
    <a href="#">hello</a>
    <a href="#">Inspriation</a>
    <a href="#">Personal</a>
    <a href="#">Sorry</a>
    <a href="#">Work</a>
    <a href="#">Edit labels</a>
    <a href="#">Archive</a>
    <a href="#">Bin</a>
  </div>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>