<link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">

<mat-toolbar class="toolbar">
  <div class="menuicons">
    <mat-icon class="material-icons-outlined iconColor" (click)="isExpanded = !isExpanded">menu</mat-icon>
  </div>
  <div>
    <img src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png" alt="">
  </div>
<div class="keep">Keep</div>
<div class="place">
  <div class="searchicons">
    <mat-icon class="material-icons-outlined iconColor">search</mat-icon>
  </div>
  <div class="input">
  <mat-form-field appearance="standard" class="imp">
    <input type="search" matInput placeholder="Search">
  </mat-form-field>
  </div>
  <div class="searchicons">
    <mat-icon class="material-icons-outlined iconColor">clear</mat-icon>
  </div>
</div>


<div class="refreshicons">
  <mat-icon class="material-icons-outlined iconColor">refresh_outline</mat-icon>
</div>
<div class="dnsicons">
  <mat-icon class="material-icons-outlined iconColor">dns</mat-icon>
</div>
<div class="settingsicons">
  <mat-icon class="material-icons-outlined iconColor">settings</mat-icon>
</div>
<div class="appsicon">
  <mat-icon class="material-icons-outlined iconColor">apps</mat-icon>
</div>
<div class="accounticons">
  <mat-icon class="material-icons-outlined iconColor">account_circle</mat-icon>
</div>
  </mat-toolbar>
  <mat-sidenav-container>
    
    <mat-sidenav mode="side" opened="true">
<div class="side">
      <button mat-button class="rem">
        <span class="material-icons-outlined ">lightbulb
          </span>
          <span *ngIf="isExpanded" class="btn">Notes</span>
    </button>
    <button mat-button >
      <span class="material-icons-outlined ">notifications_none</span>
        <span *ngIf="isExpanded" class="btn">Reminders</span>
  </button>
  <button mat-button >
    <span class="material-icons-outlined">forward
      </span>
      <span *ngIf="isExpanded" class="btn">hello</span>
</button>

<button mat-button >
  <span class="material-icons-outlined">forward
    </span>
    <span *ngIf="isExpanded" class="btn">Personal</span>
</button>
  <button mat-button >
    <span class="material-icons-outlined">forward
      </span>
      <span *ngIf="isExpanded" class="btn">work</span>
</button>
<button mat-button >
    <span class="material-icons-outlined">forward
      </span>
      <span *ngIf="isExpanded" class="btn">Edit labels</span>
</button>
<button mat-button >
  <span class="material-icons-outlined" >archive
    </span>
    <span *ngIf="isExpanded" class="btn">Archive</span>
</button>
<button mat-button >
  <span class="material-icons-outlined" >delete
    </span>
    <span *ngIf="isExpanded" class="btn">bin</span>
</button>

</div>
</mat-sidenav>
      <mat-sidenav-content>
         <div class="content mat-elevation-z8">
             <div >
              <div class="main-content">
                <div class="placeholder">
                    <label >
                        <input type="text" placeholder="Title" class="matinput"> 
                    </label>
                </div>
                <div class="placeholder">
                    <label >
                        <input type="text" placeholder="note" class="matinput">
                    </label>
                </div>
               
                
                <div class="matbtn">
                    <button mat-button >
                        <span class="material-icons-outlined ">add_alert</span>
                    </button>
                    <button mat-button >
                        <span class="material-icons-outlined ">person_add</span>
                    </button>
                    <button mat-button >
                        <span class="material-icons-outlined ">palette</span>
                    </button>
                    <button mat-button >
                        <span class="material-icons-outlined ">image</span>
                    </button>
                    <button mat-button >
                        <span class="material-icons-outlined ">archive</span>
                    </button>
                    <button mat-button >
                        <span class="material-icons-outlined ">more_vert</span>
                    </button>
                    <button mat-button >
                        <span class="material-icons-outlined ">undo</span>
                    </button>
                    <button mat-button >
                        <span class="material-icons-outlined ">redo</span>
                    </button>
                    <button mat-button >
                        <span class="close">close</span>
                    </button>
                </div>
                </div>

                <div *ngFor = "let noteObj of fetchData">
                  <app-notes [noteObj] = noteObj ></app-notes>
                </div>
             </div>
         </div>
      </mat-sidenav-content>
  </mat-sidenav-container> 