<link rel="stylesheet" href="../forgot-password/forgot-password.component.scss">
<div class="main-content">
    <div>
    <div class="google">
        <div>
       <span style="color: #1a73e8;">F</span>
       <span style="color: #EA4335">u</span>
       <span style="color: #FBBC05;">n</span>
       <span style="color: #1a73e8;">d</span>
       <span style="color: #34A853;">o</span>
       <span style="color: #EA4335;">o</span>
        </div>
    </div> 
    <div>
        <div class="main">Account recovery</div>
    </div>
    <div class="acc">
        <div >Enter the last password that you remember using with this<br> Fundoo Account</div>
    </div>
    <div class="row-content">
        <div class="fname">
        <mat-form-field appearance="outline">
            <mat-label>Email or phone</mat-label>
            <input matInput placeholder="Email or phone">
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
    </div>
    <div class="check">
        <input type="checkbox"  class="box" id="showpass" name="showpass">
        <label class="show" for="showpass">Show password</label>
        </div>
        <div>
            <div class="sign">
            <button class="submit" type="submit" form="nameform" value="Submit">Next</button>
            </div>
        </div>
    </div>
    </div>
</div>