<link rel="stylesheet" href="../Login/login.component.scss">
<div class="main-content">
    <div>
    <div class="google">
        <div>
       <span style="color: #1a73e8;">F</span>
       <span style="color: #EA4335">u</span>
       <span style="color: #FBBC05;">n</span>
       <span style="color: #1a73e8;">d</span>
       <span style="color: #34A853;">o</span>
       <span style="color: #EA4335;">o</span>
        </div>
    </div> 
    <div>
        <div class="main">Sign in</div>
    </div>
    <div class="acc">
        <div >Use your Fundoo Account</div>
    </div>
    <div class="row-content">
        <div class="name">
        <mat-form-field appearance="outline" class="fname">
            <mat-label>Email or phone</mat-label>
            <input matInput placeholder="Email or phone">       
          </mat-form-field>
    </div>
    <div class="forgot"> Forgot email?</div>
    <div class="paragraph">Not your computer? Use Guest mode to sign in privately.</div>
    <div class="learn">Learn more</div>
    <div>
    <div class="create">Create account</div>
    <button class="submit" type="submit" form="nameform" value="Submit">Next</button>
    </div>
    </div>
    </div>
</div>