@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.main-content{  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 200px;
    margin-right: 200px;
    border: 3px solid #E8E8E8;
}
.google{
    padding-top: 10px;
    font-size: large;
}
.main{
    padding-top: 10px;
    font-size: large;
}
.fname{
    padding-top: 10px;
}
.lname,.confirmpass{
    padding-left: 15px;
}
.letter{
    font-size: smaller;
}
.letters{
    font-size: smaller;
    padding-top: -5px;
}
.txt{
    color: #1a73e8;
    padding-top: 20px;
}
.pass{
    padding-top: 10px;
}
.check{
    padding-top: 10px;
}
.sign{
    padding-top: 15px;
    color: #1a73e8;
}
.submit{
    margin-bottom: 50px;
margin-left: 200px;
padding: 10px 25px 10px 25px;
background-color: #1a73e8;
border-radius: 5px;
color: white;
border-color: #1a73e8
}
.oneacc{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 80px;
}
.last{
    padding-left: 30px;
}
@media only screen and (max-width: 800px) {

    .main-content,.google{
        display: flex;
        flex-direction: column;
    }
    .main{
       display: flex;
       flex-direction: column;
       font-size: smaller;
    }
    .fname,.pass,.ename{
        display: flex;
        flex-direction: column;
        font-size: smaller;
    }
    .lname,.confirmpass{
        display: flex;
        flex-direction: column;
        font-size: smaller;
        padding-left: 0px;
    }
    .letter,.txt,.letters{
       display: flex;
       flex-direction: column;
       font-size: smaller;
    }
    .check,.sign{
        display: flex;
       flex-direction: column;
       font-size: smaller;
    }
    .submit{
        display: flex;
        flex-direction: column;
        font-size: smaller;
        padding: 3px 5px 3px 5px;
        background-color: hsl(214, 82%, 51%);
        border-radius: 2px;
        margin-left: 250px;
        margin-right: 40px;
    }
    img,.last{
        display: none;
    }
}