<link rel="stylesheet" href="../register/register.component.scss">
<div class="main-content">
    <form name="form" [formGroup]="myForm" >
    <div class="row-content">
    <div class="google">
        <div>
       <span style="color: #1a73e8;">F</span>
       <span style="color: #EA4335">u</span>
       <span style="color: #FBBC05;">n</span>
       <span style="color: #1a73e8;">d</span>
       <span style="color: #34A853;">o</span>
       <span style="color: #EA4335;">o</span>
        </div>
    </div> 
    <div class="Acc">
    <div class="main">Create your Fundoo Account</div>
    </div  >
    <div class="row-content">
        <div class="fname">

        <mat-form-field appearance="outline"   class="fname">
            <mat-label>First name</mat-label>
            <input matInput placeholder="Email or phone" formControlName="firstName" >
            <mat-error>This field is required</mat-error>
          </mat-form-field>   
        
          <mat-form-field appearance="outline"  class="lname">
            <mat-label>Last name</mat-label>
            <input matInput placeholder="Email or phone"   formControlName="lastName">  
            <mat-error>This field is required</mat-error>     
          </mat-form-field> 
    </div>
    </div>
    <div class="row-content">
        <div class="username">
            <mat-form-field appearance="outline"   class="ename">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email or phone" formControlName="email"> 
                <span matSuffix >@gmail.com</span>  
                <mat-error>This field is required</mat-error>    
              </mat-form-field> 
        <div class="letter">You can use letters, numbers & periods</div>
        <div class="txt">Use my current Gmail address instead</div>
        </div>
        <div class="row-content">
            <div class="pass">
            <mat-form-field appearance="outline"  class="pass">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Email or phone" formControlName="password">   
                <mat-error>This field is required</mat-error>    
              </mat-form-field> 


              <mat-form-field appearance="outline"  class="confirmpass">
                <mat-label>Confirm password</mat-label>
                <input matInput placeholder="Email or phone" formControlName="confirmPassword">  
                <mat-error>This field is required</mat-error>     
              </mat-form-field> 
           
            </div>
        </div>
        <div>
            <small class="letters">Use 8 or more characters with a mix of letters, numbers & symbols</small>
            </div>
        <div class="check">
        <input type="checkbox"  class="box" id="showpass" name="showpass">
        <label class="show" for="showpass">Show password</label>
        
        </div>
        <div>
            <div class="sign">Sign in instead
            <button class="submit"  type="submit" form="nameform" value="Submit">Submit</button>
            </div>
        </div>
    </div>
    </div>
</form>
    <div class="oneacc"> 
        <img src="https://ssl.gstatic.com/accounts/signup/glif/account.svg" height="250px" width="250px" alt="">
        <div class="last">
        <span>One account.All of Fundoo</span><br> 
        <span> working for you.</span>
        </div>
    </div>
</div>